<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          後臺登入
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="user-account" class="form-label">帳號</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="loginInformation.account"
              id="user-account"
              placeholder="請輸入登入帳號"
              [disabled]="statuses.signing"
            />
          </div>
          <div class="mb-3">
            <label for="user-password" class="form-label">密碼</label>
            <input
              type="password"
              class="form-control"
              [(ngModel)]="loginInformation.password"
              id="user-password"
              placeholder="請輸入登入密碼"
              [disabled]="statuses.signing"
            />
          </div>
          <div class="mb-3 text-center">
            <button class="btn btn-success" type="button" [disabled]="!canFireSignIn()" (click)="fireSignIn()"
              *ngIf="!statuses.signing">登入後台</button>&nbsp;
            <button class="btn btn-success" type="button" disabled *ngIf="statuses.signing">
              <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
              登入中 ...
            </button>&nbsp;
            <button class="btn btn-primary" type="button" (click)="navigateToFrontStage()">返回前台</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
