<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" *ngIf="isLogin()">洛嬉遊戲後臺管理系統</a>
    <a class="navbar-brand" routerLink="/" *ngIf="!isLogin()">洛嬉遊戲後臺管理系統</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isLogin()">
          <a class="nav-link active" aria-current="page" routerLink="/home">首頁</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isLogin()">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            文章管理
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/article/carousel">輪播管理</a></li>
            <li><a class="dropdown-item" routerLink="/article/aboutus">關於我們</a></li>
            <li><a class="dropdown-item" routerLink="/article/news">最新消息</a></li>
            <li><a class="dropdown-item" routerLink="/article/product">作品管理</a></li>
            <li><a class="dropdown-item" routerLink="/article/recruit">招募新血</a></li>
            <li><a class="dropdown-item" routerLink="/article/faq">常見問題</a></li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="isLogin()">
          <a class="nav-link" href="#">討論版管理</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isLogin()">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            會員管理
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">會員權限</a></li>
            <li><a class="dropdown-item" href="#">會員管理</a></li>
            <li><a class="dropdown-item" href="#">封鎖清單</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="isLogin()">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            商品管理
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">商品管理</a></li>
            <li><a class="dropdown-item" href="#">訂單管理</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="isLogin()">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              系統設定
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">主要系統設定</a></li>
              <li><a class="dropdown-item" href="#">資料庫管理</a></li>
              <li><a class="dropdown-item" href="#" (click)="logoutFromBackstage()">登出後台</a></li>
            </ul>
          </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-base-navigator></app-base-navigator>
    </div>
  </div>
</div>
