.news-admin {
  th {
    background-color: rgb(255, 243, 205);
    font-weight: bold;

    &:first-child {
      width: 5%;
    }

    &:last-child {
      width: 15%;
    }
  }

  td {
    vertical-align: middle;
  }
}
